.carousel .thumb img {
  width: 100% !important;
  height: 100% !important;
}

.carousel .slide img {
  max-height: 300px; /* change this to whatever you want */
  width: auto;
}

.shoes_information {
  display: flex;
  justify-content: center;
}

.carousel-root {
  outline: none;
  width: 40%;
  padding: 4%;
}

.carousel .carousel-status {
  display: none;
}

.carousel .control-dots .dot {
  display: none;
}

ul.thumbs.animated {
  text-align: center;
  border-top: 1px black solid;
}

img.image_color {
  border: 1px black solid;
  padding: 10px;
}

.size_shoes {
  display: flex;
  flex-wrap: wrap;
}

.size_shoes span {
  background-color: #e6e6e6;
  width: 20px;
  padding: 22px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

.size_shoes {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 59%;
  gap: 19px;
  text-align: center;
}

.price_shoes {
  color: #7a4a58;
}

.code_shoes {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(167, 164, 164);
  margin: 0px;
}

.color_shoes {
  font-family: Arial, Helvetica, sans-serif;
  color: gray;
  font-weight: 100;
}

.title_shoes {
  margin: 0px;
}

.price_shoes {
  color: #7a4a58;
  margin: 0px;
}

.size_title {
  font-family: Arial, Helvetica, sans-serif;
  color: gray;
  font-weight: 100;
}

.guide_size {
  margin-top: 50px;
  padding: 8px;
  font-family: Arial, Helvetica, sans-serif;
}

.add_fav_cart {
  display: flex;
  width: 58%;
  justify-content: space-between;
  margin-top: 30px;
}

img.add_fav {
  width: 40px;
  height: 40px;
  opacity: 11%;
}

.breadcrumb {
  padding: 14px 100px;
  font-family: Arial, Helvetica, sans-serif;
  color: gray;
  font-weight: 600;
}
