.recommended_look {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding: 90px 90px 0px;
}

.recommended_look div {
  width: 369px;
  height: 73%;
  margin-bottom: 38px;
}

.recommended_look h3 {
  text-align: center;
}

.recommended_title {
  width: 79%;
  padding: 5px 12px;
  position: relative;
  margin: 27px 0px -61px 162px;
}
